body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body, html, #root, .applications {
	height: 100%;
} 

* {
	box-sizing: border-box;
}

.app {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.app__navigation {
	margin: 10px;
}

.app__content.app__content--hidden {
	flex-basis: 0;
	flex-grow: 0;
	height: 0;
	overflow: hidden;
}


.app__content {
	flex: 1 auto;
	height: 100%
}


.input {
	width: 100%;
	font-weight: 30px;
	text-align: center;
}

.form-input {
	width: 400px;
	margin-bottom: 40px;
}

